{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "jest": true
  },
  "ignorePatterns": ["node_modules/"],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "rules": {
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": 0,
    "react/jsx-one-expression-per-line": 0,
    "import/prefer-default-export": "off",
    "no-unused-vars": "off",
    "no-console": "off",
    "react/prop-types": "off",
    "react/button-has-type": "off"
  }
}