{
    "extends": ["airbnb", "plugin:prettier/recommended"],
    "plugins": ["prettier"],
    "env": {
      "browser": true,
      "jest": true
    },
    "ignorePatterns": ["node_modules/"],
    "settings": {
      "import/resolver": {
        "node": {
          "paths": ["src"]
        }
      }
    },
    "rules": {
      "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }],
      "react/prefer-stateless-function": 0,
      "react/jsx-one-expression-per-line": 0,
      "import/prefer-default-export": "off",
      "no-unused-vars": "off",
      "no-console": "off",
        "prettier/prettier": ["error", { "endOfLine": "auto" }] 
    }
  }